@mixin size($width:null, $height: null, $mwidth:null) {
  width: $width;
  height: $height;
  max-width: $mwidth;
}

@mixin flex($direc: row, $jstfyC: null, $alignI: null, $wrap: null) {
  display: flex;
  flex-direction: $direc;
  justify-content: $jstfyC;
  align-items: $alignI;
  flex-wrap: $wrap;
}

@mixin textellipsis($maxwidth) {
  max-width: $maxwidth;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin media($mwidth) {
  @media screen and (min-width: $mwidth) {
    @content;
  }
}
