@import url("https://fonts.googleapis.com/css?family=Rubik:300,400&display=swap");
$font: "Rubik", sans-serif;
$baseColor: #09192b;
$primaryColor: #0066b3;
$secondaryColor: #8b8e91;
$fontColor: #525252;
